.container {
    display: flex;
    height: 100vh;
}

.banner {
    background-image: url('../../assets/fundobanner.png');
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100vh;
}

.box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.form {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.29);
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 60%;
    height: 80%;
}

.input {
    height: 40px;
    border-radius: 10px;
    border: 2px solid #767676;
    color: #3a3a3a;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-inline: 20px;
}

.btnLog {
    border-radius: 10px;
    background: #ff8e00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0px;
    width: 50%;

    /* display: flex; */
    padding: 15px 0px;
    justify-content: center;
    /* align-items: center; */

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}