
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body, html {
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}



.main-logo {
  position: relative;
  width: 60%;
  max-width: 400px;
  z-index: 2;
  margin-top: 50px;
}

.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
}

.login-card {
  background: white;
  padding: 2rem 3rem;             
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 350px;
  height: 560px;                 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}


.logo-small {
  width: 100px;
  margin-bottom: 20px;
    align-self: center;
}
.info-logo {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: 1.5px solid #686868;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.input-group input:focus {
  border-color: #f48c06;
}


.toggle-password {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}


.checkbox-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.checkbox-group input {
  margin-right: 8px;
}


.btn {
  width: 100%;
  background-color: #e67e22;
  box-shadow: 0 6px 25px rgba(0,0,0,0.1);
  border: none;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;

}

.btn:hover {
  background-color: #cf6c17;
}


.forgot {
  margin-top: 12px;
  font-size: 13px;
}

.forgot a {
  color: #e67e22;
  text-decoration: none;
  font-weight: 500;
}
.forgot:hover a {
  text-decoration: underline;
  color: #b86114;
}


footer {
 
   position: fixed;
  bottom: 0;
  width: 50%;
  text-align: center;
  background: #f7f7f7;
  padding: 15px;
  font-size: 14px;
  color: #555;
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    height: 40vh;
  }

  .main-logo {
    width: 50%;
  }

  .right-side {
    height: 60vh;
  }
}
