body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #870B60, #F27405);
}

.container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.texto, h1 {
    font-weight: 700;
    text-align: center;
    color: white;
    font-family: Kalam, cursive;
    font-size: 30px;
}

.imagens {
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img-card img {
    width: 140px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.img-card p {
    margin-top: 3px;
    color: white;
    font-family: Kalam, cursive;
    font-size: 15px;
    transition: transform 0.3s ease;
    font-weight: lighter;
}
.img-card h1{
    margin-top: -12px;
    color: white;
    font-family: Kalam, cursive;
    font-size: 18px;
    transition: transform 0.3s ease;
    font-weight: bold;

}
.img-card:hover {
    transform: scale(1.4);
}
.img-card h1