*{
    margin: 0;
    /* text-align: center; */
}

.container{
    background-image: url('../../assets/bakcground_admin.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    flex: 1; 
    overflow-y: auto; 
}