.formcontainer {
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    flex: 1;
    height: 40%;
}

.input {
    display: inline-flex;
    padding: 17px 82px 16px 15px;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #767676;
    background: #FFF;
    width: 45%;
}

.previewBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
    flex: 2;
}

.nome {
    position: absolute;
    /* top: 8px; */
    left: 180;
    font-size: 20px;
    font-weight: Semi-Bold;
}

.previewBox {
    position: relative;
}

.button {
    padding: 10px 20px;
    background-color: #ff8e00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
}
/* .especialidade {
    position: absolute;
    top: 310px;
    left: 260px;
    transform: none;
    width:580px;
    white-space: normal;
    word-break: break-word;
    line-height: 1.4;
    text-transform: uppercase;
    font-family: 'TT Chocolates', sans-serif;
    font-weight: bold;
    color: #ff8e00;
    z-index: 5;
    display: flex;
} */


.especialidade {
    position: absolute;
    top: 310px;
    /* ajuste para alinhar com o texto do certificado */
    left: 260px;
    width: 580px;
    height: 130px;
    /* define largura da área do texto */
    font-size: 18px;
    font-family: "TT Chocolates", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    white-space: normal;
    /* permite quebra */
    word-wrap: break-word;
    line-height: 1.3;
}

.label {
    display: inline;
    /* mantém na mesma linha */
    color: #1d3843;
    /* mesma cor do texto fixo no certificado */
}

.valor {
    display: inline;
    /* segue na mesma linha */
    color: #f78f1e;
    /* amarelo/laranja igual da imagem */
}