.container {
    border-radius: 35px;
    background: #F27405;
    box-shadow: 6px 9px 4px 0 rgba(0, 0, 0, 0.25);
    justify-content: center;
    display: flex;
    /* display: inline-flex; */
    height: 50px;
    padding: 16px 162px;
    align-items: center;
    gap: 101px;
    flex-shrink: 0;
    width: 20%;
    margin-bottom: 20px;
}

.active {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}


.base {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 2.627px 3.941px 5.255px 0 rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 5 0px;
}

.inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 
    padding: 5px;
    opacity: 0.5; */
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
}