.inputlabel {
    font-family: 'Poppins', sans-serif;
}

.formcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form {
    width: 420px;
    padding: 24px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
}

.input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.55);
    outline: none;
    font-size: 14px;
    border: 1px solid #cfcfcf;
}
.nome {
    position: absolute;
    top: 310px;
    left: 190px;
    font-size: 20px;
    font-weight: Semi-Bold;
    display: inline;
    width: 520px;
    text-align: center;
}

.previewBox {
    position: relative;
}

.button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff9800, #ff5722);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.especialidade {
    position: absolute;
    top: 350px;
    /* ajuste para alinhar com o texto do certificado */
    left: 120px;
    width: 660px;
    height: 130px;
    /* define largura da área do texto */
    font-size: 18px;
    font-family: "TT Chocolates", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    white-space: normal;
    /* permite quebra */
    word-wrap: break-word;
    line-height: 1.3;
}

.label {
    display: inline;
    /* mantém na mesma linha */
    color: #1d3843;
    /* mesma cor do texto fixo no certificado */
}

.valor {
    display: inline;
    /* segue na mesma linha */
    color: #f78f1e;
    /* amarelo/laranja igual da imagem */
}