@font-face {
  font-family: 'TT Chocolates';
  src: url('./assets/fonts/TT\ Chocolates\ Trial\ Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* 
#root {
  max-width: 1280px;
  margin: 0;
  height: 110vh;
  text-align: center;
  background-image: url('./assets/bakcground_admin.png');
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
